# permissions: 644 root root

[Unit]
Conflicts=fmradio@active.service
Description=HD Radio active pipeline
Wants=network-online.target
After=network.target icecast2.service
Requires=icecast2.service

[Service]
Type=simple
EnvironmentFile=/etc/default/hdradio
ExecStartPre=/bin/bash -c 'for i in {1..10}; do rtl_test -t >/dev/null 2>&1 && exit 0; sleep 1; done; exit 0'
ExecStart=/usr/local/bin/hd-run
KillSignal=SIGINT
TimeoutStopSec=5
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
